[Unit]
Description=Import AGL session environment for portal
After=graphical-session.target
Before=xdg-desktop-portal-agl.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user import-environment \
    XDG_CURRENT_DESKTOP \
    WAYLAND_DISPLAY \
    DBUS_SESSION_BUS_ADDRESS \
    XDG_RUNTIME_DIR
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target